[paths]
source =
    iteration_utilities
    src

[run]
branch = True
source =
    src
    iteration_utilities
omit =
    setup.py
    tests/*

[report]
show_missing = true
precision = 2
omit = *migrations*
