environment:

  matrix:
    # For Python versions available on Appveyor, see
    # http://www.appveyor.com/docs/installed-software#python

    - PYTHON: "C:\\Python27"
    - PYTHON: "C:\\Python27-x64"
    - PYTHON: "C:\\Python35"
    - PYTHON: "C:\\Python36"
    - PYTHON: "C:\\Python37"
    - PYTHON: "C:\\Python37-x64"

install:
  - "%PYTHON%\\python.exe -m pip install pip --upgrade"
  - "%PYTHON%\\python.exe -m pip install setuptools --upgrade"
  - "%PYTHON%\\python.exe -m pip install . --no-deps -vv"
  - "%PYTHON%\\python.exe -c \"import iteration_utilities\""
  # Install pytest before running the tests because that caused a problem
  # in #219 on Python 3.5 where pytest wasn't properly installed.
  # Probably can be removed at some point in the future...
  - "%PYTHON%\\python.exe -m pip install pytest"

build: off

test_script:
  # Note that you must use the environment variable %PYTHON% to refer to
  # the interpreter you're using - Appveyor does not do anything special
  # to put the Python version you want to use on PATH.
  - cd tests
  - "%PYTHON%\\python.exe -m pytest ."
