image: Visual Studio 2022

environment:

  matrix:
    # For Python versions available on Appveyor, see
    # https://www.appveyor.com/docs/windows-images-software/#python

    - PYTHON: "C:\\Python38"
    - PYTHON: "C:\\Python39"
    - PYTHON: "C:\\Python310"
    - PYTHON: "C:\\Python311"
    - PYTHON: "C:\\Python311-x64"

install:
  - "%PYTHON%\\python.exe -m pip install pip setuptools --upgrade"
  - "%PYTHON%\\python.exe -m pip install . --no-deps -vv"

build: off

before_test:
  - "%PYTHON%\\python.exe -c \"import iteration_utilities\""
  - "%PYTHON%\\python.exe -m pip install pytest"

test_script:
  - "%PYTHON%\\python.exe -m pytest tests/"
