# Legal stuff
include README.rst
include LICENSE.rst
recursive-include licenses *

# Source code
recursive-include src_c *.c

# Needed for tests
include pytest.ini
include .coveragerc
recursive-include tests *

recursive-include docs *